
<ul>
  <li><a href="#home">Home</a></li>
  <li><a href="#news">News</a></li>
  <li><a href="#" (click)="Build()">Build</a></li>
  <li *ngIf="loading"><a href="#" style="color: greenyellow; " (click)="Build()">Building ...</a></li>
  <li *ngIf="SuccessMsg"><a href="#" (click)="Download()">Download apk</a></li>
  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">Dropdown</a>
    <div class="dropdown-content">
     
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
  </li>
</ul>
<app-view1 (customevent)="updateFromChild($event)"></app-view1>